#homeScreen {
	-fx-background-color: #8c0a91;
}

#homeTitle {
	-fx-text-fill: #fff;
	-fx-font-size: 110px;
	-fx-font-weight: bold;
}

#btnEasy, #btnMedium, #btnHard {
	-fx-font-size: 50px;
	-fx-padding: 10px 20px;
	-fx-background-color: #8c0a91;
	-fx-text-fill: #fff;
	-fx-font-weight: bold;
}

#btnLoadImage {
	-fx-font-size: 40px;
	-fx-padding: 10px 20px;
	-fx-background-color: #fff;
	-fx-font-weight: bold;
}

#piece1 {
	-fx-background-color: blue;
}