#homeScreen {
	-fx-background-image: url("img1.jpg");
    -fx-background-repeat: stretch;
}

#imageGalleryPane, #mainPane {
    -fx-background-color: #F0E3C2;
}

#homeTitle {
	-fx-text-fill: #564576;
	-fx-font-size: 110px;
	-fx-font-weight: bold;
}

#btnLoadImage, #btnEasy, #btnMedium, #btnHard {
	-fx-font-size: 50px;
	-fx-padding: 10px 30px;
	-fx-background-color: #564576;
	-fx-text-fill: #FFF8E7;
	-fx-font-weight: bold;
}

#btnSoundMute, #btnReturn {
	-fx-font-size: 25px;
	-fx-padding: 10px 15px;
	-fx-background-color: #564576;
	-fx-text-fill: #FFF8E7;
	-fx-font-weight: bold;
}

#piece1 {
	-fx-background-color: blue;
}